@import "../static/scss/utils/_font";
@import "../static/scss/utils/_var";

:root {
  --accent-gradient: linear-gradient(
    180deg,
    #efefef 30.21%,
    #e1e1e1 60.94%,
    #c6c6c6 100%
  );

  --first-stop-color: #fff;
  --second-stop-color: #f6f6f6;
  --third-stop-color: #dbdbdb;
  --secondary-color: #000;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
}

.gradient-border {
  position: relative;
}

.shadow.gradient-border::before {
  box-shadow: var(--box-shadow);
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: var(--accent-gradient);
}

html,
body {
  overflow: hidden;
  height: 100vh;
  font-family: "FOT-Rodin Pro M";
}

header {
  position: absolute;
}

.welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome-background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.3);
}

.welcome-logo {
  height: 40px;
  margin-bottom: 40px;
}

.character-select {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.cat-character {
  margin: 0 50px;
  filter: drop-shadow(var(--box-shadow));
  cursor: pointer;
}

.paw {
  cursor: pointer;
  width: 80px;
  transition: transform 0.2s ease-in-out;
}

stop,
path {
  transition: all 0.3s;
}

.right-paw {
  transform: scaleX(-1);
}

.right-paw:hover {
  transform: translateX(10px) scaleX(-1);
}

.left-paw:hover {
  transform: translateX(-10px);
}

.username-form {
  background: #ffffff;
  border-radius: 50px;
  padding: 14px 40px;
  display: flex;
  align-items: center;
  color: var(--third-stop-color);
  transition: color 0.3s;
}

.at-before {
  font-family: "FOT-Rodin Pro M";
  font-weight: bold;
  margin-right: 10px;
}

.username-input {
  border: none;
  background: none;
  outline: none;
  border-bottom: solid var(--third-stop-color) 2px;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: linear-gradient(
    180deg,
    var(--first-stop-color) 13.54%,
    var(--second-stop-color) 63.54%,
    var(--third-stop-color) 100%
  );
  transition: border-bottom 0.3s;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.webgl.hide {
  z-index: -2;
}

.message-form {
  position: absolute;
  bottom: 5%;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.message-form-wrapper {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 14px 30px 12px 30px;
  background: #fff;
}

.message-form.hide {
  display: none;
}

.message-input {
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "FOT-Rodin Pro M";
  font-weight: 900;
  font-size: 14px;
}

.message-btn {
  position: absolute;
  right: 7px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: none;
  z-index: 1;
  cursor: pointer;
  background: center / 65% 65% url("../static/img/send-paw.svg") no-repeat,
    var(--accent-gradient);
  // background: center / 65% 65%
  //     url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.71124 0.6651C6.84871 0.6651 6.09742 1.15521 5.62021 1.82427C5.143 2.49334 4.88988 3.35748 4.88988 4.29256C4.88988 5.22763 5.143 6.09258 5.62021 6.76165C6.09742 7.43071 6.84871 7.92001 7.71124 7.92001C8.57377 7.92001 9.32505 7.4299 9.80227 6.76084C10.2795 6.09178 10.5326 5.22763 10.5326 4.29256C10.5326 3.35748 10.2795 2.49253 9.80227 1.82347C9.32505 1.1544 8.57377 0.6651 7.71124 0.6651ZM10.5326 4.29256C10.5326 5.22763 10.7857 6.09258 11.2629 6.76165C11.7401 7.43071 12.4922 7.92001 13.3539 7.92001C14.2165 7.92001 14.9678 7.4299 15.445 6.76084C15.9222 6.09178 16.1753 5.22763 16.1753 4.29256C16.1753 3.35748 15.9222 2.49253 15.445 1.82347C14.9678 1.1544 14.2165 0.6651 13.3539 0.6651C12.4914 0.6651 11.7401 1.15521 11.2629 1.82427C10.7857 2.49334 10.5326 3.35748 10.5326 4.29256ZM7.71124 2.2773C7.96274 2.2773 8.24004 2.40305 8.49316 2.75613C8.74305 3.10839 8.92039 3.66944 8.92039 4.29256C8.92039 4.91567 8.74305 5.47753 8.49316 5.82899C8.24004 6.18206 7.96274 6.30781 7.71124 6.30781C7.45973 6.30781 7.18244 6.18206 6.92932 5.82899C6.67943 5.47672 6.50209 4.91567 6.50209 4.29256C6.50209 3.66944 6.67943 3.10759 6.92932 2.75613C7.18244 2.40305 7.45973 2.2773 7.71124 2.2773ZM13.3539 2.2773C13.6055 2.2773 13.8828 2.40305 14.1359 2.75613C14.3858 3.10839 14.5631 3.66944 14.5631 4.29256C14.5631 4.91567 14.3858 5.47753 14.1359 5.82899C13.8828 6.18206 13.6055 6.30781 13.3539 6.30781C13.1024 6.30781 12.8251 6.18206 12.572 5.82899C12.3221 5.47672 12.1448 4.91567 12.1448 4.29256C12.1448 3.66944 12.3221 3.10759 12.572 2.75613C12.8251 2.40305 13.1024 2.2773 13.3539 2.2773ZM3.68073 6.30781C2.8182 6.30781 2.06692 6.79792 1.5897 7.46698C1.11249 8.13605 0.859375 9.00019 0.859375 9.93527C0.859375 10.8703 1.11249 11.7353 1.5897 12.4044C2.06692 13.0734 2.8182 13.5627 3.68073 13.5627C4.54326 13.5627 5.29455 13.0726 5.77176 12.4036C6.24897 11.7345 6.50209 10.8703 6.50209 9.93527C6.50209 9.00019 6.24897 8.13524 5.77176 7.46618C5.29455 6.79711 4.54326 6.30781 3.68073 6.30781ZM17.3845 6.30781C16.5219 6.30781 15.7706 6.79792 15.2934 7.46698C14.8162 8.13605 14.5631 9.00019 14.5631 9.93527C14.5631 10.8703 14.8162 11.7353 15.2934 12.4044C15.7706 13.0734 16.5219 13.5627 17.3845 13.5627C18.247 13.5627 18.9983 13.0726 19.4755 12.4036C19.9527 11.7345 20.2058 10.8703 20.2058 9.93527C20.2058 9.00019 19.9527 8.13524 19.4755 7.46618C18.9983 6.79711 18.247 6.30781 17.3845 6.30781ZM3.68073 7.92001C3.93223 7.92001 4.20953 8.04577 4.46265 8.39884C4.71254 8.7511 4.88988 9.31215 4.88988 9.93527C4.88988 10.5584 4.71254 11.1202 4.46265 11.4717C4.20953 11.8248 3.93223 11.9505 3.68073 11.9505C3.42923 11.9505 3.15193 11.8248 2.89881 11.4717C2.64892 11.1202 2.47158 10.5584 2.47158 9.93527C2.47158 9.31215 2.64892 8.7503 2.89881 8.39884C3.15193 8.04577 3.42923 7.92001 3.68073 7.92001ZM17.3845 7.92001C17.636 7.92001 17.9133 8.04577 18.1664 8.39884C18.4163 8.7511 18.5936 9.31215 18.5936 9.93527C18.5936 10.5584 18.4163 11.1202 18.1664 11.4717C17.9133 11.8248 17.636 11.9505 17.3845 11.9505C17.133 11.9505 16.8557 11.8248 16.6025 11.4717C16.3526 11.1194 16.1753 10.5584 16.1753 9.93527C16.1753 9.31215 16.3526 8.7503 16.6025 8.39884C16.8557 8.04577 17.133 7.92001 17.3845 7.92001ZM10.5326 9.53222C9.45806 9.53222 8.70838 10.2295 8.34 10.8421C7.97403 11.4548 7.74832 11.9642 7.5339 12.177C7.41056 12.3036 6.63267 12.5962 5.82174 13.0097C5.41627 13.2169 5.00757 13.4934 4.66337 13.9166C4.31674 14.3398 4.08297 14.9242 4.08297 15.5796C4.08297 17.1273 5.35662 18.4009 6.90433 18.4009C7.60241 18.4009 8.33113 18.1752 9.04453 17.9737C9.76115 17.7673 10.5326 17.5932 10.5326 17.5932C10.5326 17.5932 11.304 17.7673 12.019 17.9721C12.7332 18.1736 13.462 18.3993 14.16 18.3993C15.7078 18.3993 16.9814 17.1257 16.9814 15.578C16.9814 14.9379 16.7452 14.3527 16.401 13.9416C16.0584 13.5281 15.6457 13.2725 15.2435 13.0589C14.4373 12.6317 13.645 12.2931 13.5305 12.177C13.337 11.986 13.1194 11.4596 12.7486 10.8437C12.3786 10.2255 11.6128 9.53222 10.5326 9.53222ZM10.5326 11.1444C11.0646 11.1444 11.1235 11.2734 11.3629 11.6732C11.6047 12.0722 11.7853 12.7502 12.3705 13.3362C13.0355 13.9972 13.8755 14.1423 14.4873 14.468C14.7936 14.6308 15.0274 14.8041 15.1677 14.9718C15.3071 15.1387 15.3692 15.291 15.3692 15.5764C15.3692 16.2535 14.8372 16.7855 14.16 16.7855C13.9263 16.7855 13.1734 16.6082 12.4721 16.4067C11.7708 16.2075 11.1904 15.9794 10.5326 15.9794C9.87481 15.9794 9.29442 16.2075 8.59311 16.4067C7.8918 16.6082 7.13891 16.7855 6.90514 16.7855C6.22801 16.7855 5.69598 16.2535 5.69598 15.5764C5.69598 15.2515 5.7637 15.0846 5.89751 14.9202C6.03132 14.7566 6.27799 14.5945 6.57786 14.4422C7.1776 14.1359 8.01272 14.0149 8.69388 13.3338C9.28475 12.7397 9.46209 12.04 9.7015 11.645C9.93688 11.25 9.99331 11.1412 10.5318 11.1412L10.5326 11.1444Z' fill='#fff'/%3E%3C/svg%3E%0A")
  //     no-repeat,
  //   var(--accent-gradient);
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.user-container {
  display: none;
}

.dg.ac {
  z-index: 100 !important;
}

.chat-container {
  position: absolute;
  top: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 100%;
  z-index: 1;
  height: 50vh;
  padding: 0;
  -webkit-mask: linear-gradient(
    transparent 0%,
    #fff 20%,
    #fff 95%,
    transparent 100%
  );
  mask: linear-gradient(transparent 0%, #fff 20%, #fff 95%, transparent 100%);
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.message {
  word-break: break-all;
  background: #fff;
  border: 5px solid #ebebeb;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  max-width: 33%;
  overflow-x: clip;
}

.message span {
  font-weight: bold;
  font-family: "Coco Gothic";
}

.message.self {
  color: var(--secondary-color);
  background: var(--accent-gradient);
}

.chat-container.hide {
  visibility: hidden;
  pointer-events: none;
}

.pseudo-hover {
  position: absolute;
  z-index: 1;
  border-radius: 50px;
  padding: 10px 15px 8px 15px;
  background-color: #fff;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  cursor: none;
  transform-origin: 50% 50%;
  font-family: "Coco Gothic";
  box-shadow: var(--box-shadow);
}
